<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
  
<div class="tic-tac-toe">
  <h1>Tic Tac Toe</h1>
  <div class="game" v-if="state"><small>{{ turn }}</small>
    <div class="board">
      <div class="row" v-for="row in board"> 
        <div class="cell" v-for="cell in row" @click="setValue(cell.coord)">{{ cell.value }} </div>
      </div>
    </div>
  </div>
  <div class="panel" v-if="!state">
    <h2>choose one</h2><br/><span class="selection" @click="choose('X')">X</span><span class="selection" @click="choose('O')">O</span>
  </div>
  <div class="result" v-if="state">
    <p>{{ result }}</p>
    <p>moves : {{ move }}</p>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="assets/app.js"></script>
</body>
</html>